<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coesplus.admin.mapper.AdministratorLoginLogMapper">

    <select id="loginRank" resultType="com.coesplus.admin.vo.LoginRankVo">
        SELECT administrator.name AS name,
               COUNT(administrator_login_log.admin_id) AS count,
	           administrator.id AS id
        FROM
            administrator_login_log
        LEFT JOIN administrator
        ON administrator.id = administrator_login_log.admin_id
        GROUP BY
            administrator_login_log.admin_id
        ORDER BY
            COUNT(administrator_login_log.admin_id) DESC
            LIMIT 10
    </select>
</mapper>