<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coesplus.admin.mapper.CourseStudentMapper">

    <select id="getKId" resultType="String">
        SELECT id
        FROM course_student
        WHERE is_deleted = 0
          AND course_student.student_id = #{studentId}
          AND course_student.course_id = #{courseId}
    </select>
</mapper>